/* 

@media all and (min-width: 920px) {

.complete {
    margin: 12px; 
    background-color: #8AEA92;
    color: #333;
    font-weight: 800;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.dash-middle-bar-w5 {
    background: linear-gradient(to bottom, #e2f3ea, #ffffff);
        width: 60%;
        height: 94vh;
        margin: auto;
        padding-top: 0;
}

} */
