.cancel-btn {
    background-color: #FEC2C2;
    font-weight: 800;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}
.cancel {
    float: right;
    position: relative;
    left: 45px;
}

.add-new-header {
    font-weight: 800;
    margin: 20px;
    float: left;
    position: relative;
}

.next-btn {
    margin: 12px; 
    background-color: #3B5249;
    color: #F6F0F0;
    font-weight: 800;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
    float: right;
    position: relative;
}

@media all and (min-width: 920px) {

.add-new-header {
    text-align: left;
    margin-top: 0;
    padding-top: 20px;
}

.dash-middle-bar-w1 {
    display: flex;
    background: linear-gradient(to bottom, #e2f3ea, #ffffff);
        width: 60%;
        height: 94vh;
        margin: auto;
}

.next {
    margin: auto;
}

.cancel {
    left: 67%;
}

/* .next-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */



}