body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.logout {
    float: right;
    position: relative;
    bottom: 40px;
    right: 15px;
    font-weight: bold;
    color: #f6f0f0;
}

.nav-bar {
    height: 65px;
    width: 100vw;
    background: #519872;
    display: flex;
    justify-content: flex-start;
}

.dash-logo {
    display: flex;
    justify-content: flex-start;
    margin: 16px;
    height: 32px;
}

.nav-bar .nav-header {
    color: #f6f0f0;
    font-weight: bold;
    margin-top: 18px;
    font-size: 28px;
    display: flex;
    justify-content: flex-start;
}

.nav-bar .nav-header-dash {
    visibility: hidden;
}

.nav-bar .nav-logout {
    padding: 0px;
    color: #f6f0f0;
    margin-top: 23px;
    font-weight: bold;
    
}

@media all and (min-width: 920px) {

    .nav-bar{
        display: flex;
    }
    
    .nav-bar-logo {
        margin-left: 19%;
    }

    .dash-logo {
        margin-left: 10%;
    }

    .nav-bar .nav-header-dash {
        visibility: visible;
        color: #f6f0f0;
        margin-top: 18px;
        margin-left: 10px;
        font-size: 28px;
    }
 
    .nav-logout { 
        margin-right: -170%;
    }

    a .dash-logo{
        margin-left: 30%;
    }

    .logout {
        float: right;
        position: relative;
        right: 25%;
    }

   
}