body {
        background: #afd4c0;
        font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
}

.auth-logo {
    margin-top: 60px;
    margin-bottom: 25px;
    height: 170px;
}

.input-header {
    margin: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.login-input {
    width: 240px;
    background: #f6f0f0;
    border: 1px solid #519872;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
}

.login {
    margin-top: 20px;
    margin-right: 10px;
    background: #8aea92;
    font-weight: bold;
    padding: 10px 28px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.register {
    margin-top: 20px;
    margin-left: 10px;
    background: #3b5249;
    color: #f6f0f0;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;

}


.password-rules {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #333;
}

@media all and (min-width: 920px) {
    
    .middle-bar{
        background: linear-gradient(to bottom, #e2f3ea, #ffffff);
        width: 60%;
        height: 100vh;
        margin: auto;
    }  

    .auth-logo {
        height: 180px;
        margin-top: 160px;
    }

    .input-header {
        margin-bottom: 8px;
    }

    .login-input {
        width: 450px;
        background: linear-gradient(to bottom, #e2f3ea, #ffffff);
    }

    .login {
        padding: 10px 38px;
        font-size: 20px;
        margin: 20px;
    }
    
    .register {
        padding: 10px 30px;
        font-size: 20px;
        margin: 20px;
        margin-top: 25px;

    }

    .password-rules {
        font-size: 18px;
        margin-left: -270px;
        margin-bottom: 20px;
    }
}