.firstnext-btn {
    margin: 12px; 
    background-color: #3B5249;
    color: #F6F0F0;
    font-weight: 800;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.input-header {
    color: #333;
}

input {
    height: 14px;
    font-size: 14px;
    width: 60%;
}

textarea {
    width: 60%;
}

.add-new-header {
    font-weight: 800;
    margin: 15px;
    margin-right: 30px;
    float: left;
    position: relative;
    color: #333;
}


.cancel-btn {
    background-color: #FEC2C2;
    font-weight: 800;
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

.next-btn {
    margin: 12px; 
    background-color: #3B5249;
    color: #F6F0F0;
    font-weight: 800;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.prev-btn {
    margin: 12px; 
    background-color: #3B5249;
    color: #F6F0F0;
    font-weight: 800;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.complete {
    margin: 12px; 
    background-color: #8AEA92;
    color: #333;
    font-weight: 800;
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.one-dot {
    margin-right: 10px;
    margin-top: 10px;
}

.steps {
    margin-top: 5px;
    margin-right: 10px;
    color: #333;
}

.bottom-btns {
    margin-top: 15px;
}

@media all and (min-width: 920px) {
    
    .middle-bar{
        background: linear-gradient(to bottom, #e2f3ea, #ffffff);
        width: 60%;
        height: 100vh;
        margin: auto;
    } 

    .add-new-header {
        font-size: 18px;
        margin: 20px;
    }

    .bottom-btns {
        display: flex;
        justify-content: space-between;
        width: 63%;
        margin: auto;
        margin-top: 30px;
    }

    .next {
        margin-top: 30px;
        /* margin-left: 42%; */
    }

    .cancel {
        right: -25%;
        position: relative;
    }

    .cancel-btn {
        padding: 10px 20px;

    }

    .dots {
        padding-top: 15px;
        /* width: 60%; */
        margin: auto;
    }

    .one-dot {
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 10px;
    }


    .steps {
        margin: auto;
    }

    .input-header {
        margin-bottom: 5px;
        margin-top: 30px;
        text-align: left;
        margin-left: 22%;
        color: #333;
    }
    .rent {
        margin-left: 35%;
    }

    input {
        width: 60%;
    }

    textarea {
        width: 60%;
    }
    
    
}