

@media all and (min-width: 920px) {
    
    .middle-bar{
        background: linear-gradient(to bottom, #e2f3ea, #ffffff);
        width: 60%;
        height: 100vh;
        margin: auto;
    }  
}