.add-prop-btn {
    color: #333;
    background-color: #8aea92;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
}

hr {
    visibility: hidden;
}

.search-text-mob {
    font-weight: 400;
    margin-top: 10px;
    color: #333
}

.search-input {
    width: 80px;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #519872;
    background-color: #f6f0f0;
}

.reset-btn {
    margin: 10px; 
    background-color: #8aea92;
    font-weight: 600;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #333
}

.filter-btn {
    margin: 10px; 
    background-color: #3b5249;
    color: #f6f0f0;
    font-weight: 600;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.listing-header {
    font-weight: 800;
    font-size: 18px;
    color: #333;
}


@media all and (min-width: 920px) {
    
    body {
        background: #afd4c0;
        overflow-x: hidden;
    }

    .dash-middle-bar {
        background: linear-gradient(to bottom, #e2f3ea, #ffffff);
        width: 60%;
        height: 100vh;
        overflow-y: scroll;
        margin: auto;
        padding-bottom: 30px;
        margin-left: 20%;

    } 
    .dash-middle-bar::-webkit-scrollbar { width: 0 !important }

    .add-prop-btn {
        margin-top: 30px;
        font-size: 18px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        height: 2px;
        width: 90%;
        background: #D9D9D9;
        /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
        visibility: visible;
    }

    .listing-header {
        font-weight: bold;
        text-align: left;
        margin-left: 60px;
    }

    .search-area {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
    }

    .search-text {
        margin-top: 18px;
        text-align: left;
        margin-left: 40px;
        /* font-weight: 600; */
        font-size: 18px;
        color: #333
    }

    .search-input {
        width: 90px;
        margin-left: 10px;
        height: 37px;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        margin-left: 15px;
    }

    .reset-btn {
        padding: 8px 12px;
        font-size: 18px;
        
    }
    
    .filter-btn {
        padding: 8px 12px;
        font-size: 18px;
        margin-right: 5px;
    }
    
}