.prop-img {
    height: 100px;
    width: 100px;
    border-radius: 5px;

}


.x {
    margin: 3px;
    font-weight: 400;
}
.x:hover {
    cursor: pointer;
}

.house-info {
    padding-top: 5px;
    background-color: #D9D9D9;
    text-align: left;
    width: 100px;
    padding-left: 4px;
    border-radius: 5px;
    margin-top: 5px;
}

.house-title {
    margin-top: 15px;
    font-weight: bold;
    margin-right: 3px;
    text-align: left;
    margin-left: 4px;
}

.house-info-box {
    padding-right: 5px;
    text-align: left;
    margin-left: 4px;
    width: 100px;
    margin-top: 5px;
}


.listing-box {
    display: flex;
    margin: auto;
    margin: 10px;
    color: #333;
    /* background-color: #9b9a9a; */
    width: 80%;
    border-radius: 5px;
}

@media all and (min-width: 700px) {
    .listing-box {
        margin-left: 25%;
        width: 400px;
    }

}


@media all and (min-width: 920px) {

.listing-box {
    display: flex;
    background-color: #D9D9D9;
    height: 150px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.x {
    margin-top: 5px;
    width: 5%;
    margin-right: 5px;
    font-size: 22px;
}

.prop-img {
    height: 150px;
    width: 200px;
}

.house-name {
    margin-left: 20px;
    width: 200px;
}

.house-info {
    width: 250px;
    margin-left: 20px;
    font-weight: bold;
    overflow-y: scroll;
}

.house-info::-webkit-scrollbar { width: 0 !important }


.house-info-box {
    margin-top: 15px;
    width: 180px;

}
}