.App {
  text-align: center;
  letter-spacing: .2px;
  font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
}


p {
  font-size: 18px;
  color: #333;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: .2px;
  border-radius: 5px;
  border: 1px solid #519872;
  height: 32px;
  padding: 12px;
  color: #333;
  background-color:#fdfbfb;
}

input:focus {
  border: 1.5px solid #519872;
  outline: none;
  background-color: #f8f8f8;

}

textarea {
  border-radius: 5px;
  border: 1px solid #519872;
}

textarea:focus {
  border: 1.5px solid #519872;
  outline: none;
  background-color: #f8f8f8;

}

.swal-modal {
  background: linear-gradient(to bottom, #e2f3ea, #ffffff);

}

.swal-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.swal-button {
  font-family: 'Open Sans', sans-serif;
  color: #3b5249;
  background-color: #afd4c0;
  border: none;
  font-weight: 800;
}

.swal-button--confirm {
  border: none;
}

.swal-overlay {
  background-color: rgba(59, 82, 73, 0.55);
}

.swal-button:active {
  background-color: #3b5249;
  color: #f6f6f6;
}

a {
  text-decoration: none;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
    transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-4px);
    transform: translateY(-4px);
	}

	80% {
		-webkit-transform: translateY(-2px);
    transform: translateY(-2px);
	}
}

button:hover {
  animation: bounce 1s;
}

button:focus {
  outline: none;
  animation: opac 0.2s ease-in-out;
}


button:active {
  animation: opac 0.2s ease-in-out;
  /* animation: ripple 0.4s ease-in; */
  /* transition: all 0.4s ease-in; */
}

@keyframes opac {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
